{% extends 'welcome.html.twig' %}

{% block title %}Agents{% endblock %}

{% block content %}
    <h1>Agents</h1><a type="button" class="btn btn-primary" href="/">Accueil</a>

    <table class="table">
        <thead>
            <tr>
                <th>Nom de code</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Date de naissance</th>
                <th>Spécialités</th>
                <th>Pays</th>
                <th>Voir/Modifier</th>
            </tr>
        </thead>
        <tbody>
        {% for agent in agents %}
            <tr>
                <td>{{ agent.getNomDeCode.code }}</td>
                <td>{{ agent.nom }}</td>
                <td>{{ agent.prenom }}</td>
                <td>{{ agent.dateDeNaissance ? agent.dateDeNaissance|date('d/m/Y') : '' }}</td>
                <td> {% for specialites_id in agent.getSpecialites %}-{{specialites_id|spaceless }}<br>{% endfor %}</td>
                <td>{{ agent.nationalite }}</td>
                <td>
                    <a type="button" class="btn btn-primary" href="{{ path('agents_show', {'id': agent.id}) }}">show</a>
                    <a type="button" class="btn btn-primary" href="{{ path('agents_edit', {'id': agent.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a type="button" class="btn btn-primary" href="{{ path('agents_new') }}">Create new</a>
{% endblock %}
