{% extends 'welcome.html.twig' %}

{% block title %}Agents{% endblock %}

{% block main %}
    <h1>Agents</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ agent.nom|e }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ agent.prenom|e }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ agent.dateDeNaissance|e ? agent.dateDeNaissance|e|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Nom De Code</th>
                <td>{{ agent.getNomDeCode.code|e }}</td>
            </tr>
            <tr>
                <th>Spécialités</th>
                <td> {% for specialites_id in agent.getSpecialites %}-{{specialites_id|spaceless|e }}<br>{% endfor %}</td>
            </tr>
            <tr>
                <th>Pays d'origine</th>
                <td>{{ agent.nationalite|e }}</td>
            </tr>
        </tbody>
    </table>

    <a type="button" class="btn" href="{{ path('agents_index', {'page': 1}) }}">Retour</a>

    <a type="button" class="btn" href="{{ path('agents_edit', {'id': agent.id}) }}">edit</a>

    {{ include('agents/_delete_form.html.twig') }}
{% endblock %}
