{% extends 'base.html.twig' %}

{% block title %}TypeDeMissions{% endblock %}

{% block body %}
    <h1>TypeDeMissions</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_de_mission.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ type_de_mission.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a type="button" class="btn btn-primary" href="{{ path('type_de_missions_index') }}">Retour</a>

    <a type="button" class="btn btn-primary" href="{{ path('type_de_missions_edit', {'id': type_de_mission.id}) }}">edit</a>

    {{ include('type_de_missions/_delete_form.html.twig') }}
{% endblock %}
