{% extends 'welcome.html.twig' %}

{% block title %}Missions index{% endblock %}

{% block main %}
    <h1>Missions index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Date_debut</th>
                <th>Date_fin</th>
                <th>Specialité requise</th>
                <th>Agents affectés</th>
                {% if app.user %}
                <th>Voir/Modifier</th>
                {% else %}
                 <th>Voir</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for mission in missions %}
            <tr>
                <td>{{ mission.titre }}</td>
                <td>{{ mission.description }}</td>
                <td>{{ mission.dateDebut ? mission.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ mission.dateFin ? mission.dateFin|date('Y-m-d') : '' }}</td>
                 <td>{{ mission.specialite }}</td>
                 <td> {% for agent in mission.getAgents %}-{{agent|spaceless }}<br>{% endfor %}</td>
                <td>
                    <a type="button" class="btn" href="{{ path('missions_show', {'id': mission.id}) }}">show</a>
                     {% if app.user %}
                    <a type="button" class="btn" href="{{ path('missions_edit', {'id': mission.id}) }}">edit</a>
                     {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
 {% if pageCount  is defined and pageCount  > 1 %}
        {% for i in 1..pageCount %}
            <a type="button" class="btn paging" href="/missions/list/{{ i }}">{{ i }}</a>
         {% endfor %}
         {% endif %}
         <br>
    <a type="button" class="btn" href="{{ path('missions_new') }}">Ajouter </a>
{% endblock %}
