{% extends 'base.html.twig' %}

{% block title %}Missions index{% endblock %}

{% block body %}
    <h1>Missions index</h1><a type="button" class="btn" href="/">Accueil</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Date_debut</th>
                <th>Date_fin</th>
                {% if app.user %}
                <th>Voir/Modifier</th>
                {% else %}
                 <th>Voir</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for mission in missions %}
            <tr>
                <td>{{ mission.id }}</td>
                <td>{{ mission.titre }}</td>
                <td>{{ mission.description }}</td>
                <td>{{ mission.dateDebut ? mission.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ mission.dateFin ? mission.dateFin|date('Y-m-d') : '' }}</td>
                <td>
                    <a type="button" class="btn" href="{{ path('missions_show', {'id': mission.id}) }}">show</a>
                     {% if app.user %}
                    <a type="button" class="btn" href="{{ path('missions_edit', {'id': mission.id}) }}">edit</a>
                     {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a type="button" class="btn" href="{{ path('missions_new') }}">Create new</a>
{% endblock %}
