{% extends 'welcome.html.twig' %}

{% block title %}Planques index{% endblock %}

{% block main %}
    <h1>Planques index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom de code</th>
                <th>Adresse</th>
                <th>Pays</th>
                <th>Type</th>
                <th>Voir/Modifier</th>
            </tr>
        </thead>
        <tbody>
        {% for planque in planques %}
            <tr>
                <td>{{ planque.getCode.code }}</td>
                <td>{{ planque.adresse }}</td>
                <td>{{ planque.pays }}</td>
                <td>{{ planque.type }}</td>
                <td>
                    <a type="button" class="btn" href="{{ path('planques_show', {'id': planque.id}) }}">show</a>
                    <a type="button" class="btn" href="{{ path('planques_edit', {'id': planque.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% if pageCount  is defined and pageCount  > 1 %}
        {% for i in 1..pageCount %}
            <a type="button" class="btn paging" href="/planques/list/{{ i }}">{{ i }}</a>
         {% endfor %}
         {% endif %}
         <br>
    <a type="button" class="btn" href="{{ path('planques_new') }}">Ajouter </a>
{% endblock %}
