{% extends 'welcome.html.twig' %}

{% block title %}Specialites index{% endblock %}

{% block main %}
    <h1>Specialites index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Voir/Modifier</th>
            </tr>
        </thead>
        <tbody>
        {% for specialite in specialites %}
            <tr>
                <td>{{ specialite.nom }}</td>
                <td>
                    <a type="button" class="btn" href="{{ path('specialites_show', {'id': specialite.id}) }}">show</a>
                    <a type="button" class="btn" href="{{ path('specialites_edit', {'id': specialite.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% if pageCount  is defined and pageCount  > 1 %}
        {% for i in 1..pageCount %}
            <a type="button" class="btn paging" href="/specialites/list/{{ i }}">{{ i }}</a>
         {% endfor %}
         {% endif %}
         <br>
    <a type="button" class="btn" href="{{ path('specialites_new') }}">Ajouter </a>
{% endblock %}
