{% extends 'base.html.twig' %}

{% block title %}TypeDePlanques index{% endblock %}

{% block body %}
    <h1>TypeDePlanques index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_de_planque in type_de_planques %}
            <tr>
                <td>{{ type_de_planque.id }}</td>
                <td>{{ type_de_planque.nom }}</td>
                <td>
                    <a href="{{ path('type_de_planques_show', {'id': type_de_planque.id}) }}">show</a>
                    <a href="{{ path('type_de_planques_edit', {'id': type_de_planque.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('type_de_planques_new') }}">Create new</a>
{% endblock %}
