{% extends 'welcome.html.twig' %}

{% block title %}TypeDePlanques index{% endblock %}

{% block main %}
    
<h1>TypeDePlanques index</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Voir/Modifier</th>
            </tr>
        </thead>
        <tbody>
        {% for type_de_planque in type_de_planques %}
            <tr>
                <td>{{ type_de_planque.nom|e }}</td>
                <td>
                    <a type="button" class="btn" href="{{ path('type_de_planques_show', {'id': type_de_planque.id}) }}">show</a>
                    <a type="button" class="btn" href="{{ path('type_de_planques_edit', {'id': type_de_planque.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% if pageCount  is defined and pageCount  > 1 %}
        {% for i in 1..pageCount %}
            <a type="button" class="btn paging" href="/type_de_planques/list/{{ i }}">{{ i }}</a>
         {% endfor %}
         {% endif %}
         <br>
    <a type="button" class="btn" href="{{ path('type_de_planques_new') }}">Ajouter </a>
{% endblock %}
