{% extends 'base.html.twig' %}

{% block title %}TypeDePlanques{% endblock %}

{% block body %}
    <h1>TypeDePlanques</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_de_planque.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ type_de_planque.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a type="button" class="btn btn-primary" href="{{ path('type_de_planques_index') }}">Retour</a>

    <a type="button" class="btn btn-primary" href="{{ path('type_de_planques_edit', {'id': type_de_planque.id}) }}">edit</a>

    {{ include('type_de_planques/_delete_form.html.twig') }}
{% endblock %}
