{% extends 'welcome.html.twig' %}

{% block title %}Cibles index{% endblock %}

{% block main %}
    <h1>Cibles index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom de code</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Date de naissance</th>
                <th>Pays</th>
                <th>Voir/Modifier</th>
            </tr>
        </thead>
        <tbody>
        {% for cible in cibles %}
            <tr>
                <td>{{ cible.getNomDeCode.code|e }}</td>
                <td>{{ cible.nom|e }}</td>
                <td>{{ cible.prenom|e }}</td>
                <td>{{ cible.dateDeNaissance ? cible.dateDeNaissance|e|date('d/m/Y') : '' }}</td>
                <td>{{ cible.nationalite|e }}</td>
                <td>
                    <a type="button" class="btn" href="{{ path('cibles_show', {'id': cible.id}) }}">show</a>
                    <a type="button" class="btn" href="{{ path('cibles_edit', {'id': cible.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% if pageCount  is defined and pageCount  > 1 %}
        {% for i in 1..pageCount %}
            <a type="button" class="btn paging" href="/cibles/list/{{ i }}">{{ i }}</a>
         {% endfor %}
         {% endif %}
         <br>
    <a type="button" class="btn" href="{{ path('cibles_new') }}">Ajouter </a>
{% endblock %}
