{% extends 'base.html.twig' %}

{% block title %}Cibles{% endblock %}

{% block body %}
    <h1>Cibles</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cible.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ cible.nom }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ cible.prenom }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ cible.dateDeNaissance ? cible.dateDeNaissance|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a type="button" class="btn" href="{{ path('cibles_index', {'page': 1}) }}">Retour</a>

    <a type="button" class="btn" href="{{ path('cibles_edit', {'id': cible.id}) }}">edit</a>

    {{ include('cibles/_delete_form.html.twig') }}
{% endblock %}
