{% extends 'base.html.twig' %}
{% block title %}Welcome{% endblock %}

{% block body %}
    {% if app.user %}
        <h1>Bienvenue {{app.user}}, il est {{ 'now'|date('H:i:s') }} à Paris!</h1>
    {% else %}
        <h1>Bienvenue l'inconnu, il est {{ 'now'|date('H:i:s') }} à Paris !</h1>
    {% endif %}
    	
    <div class="admin-buttons">
 {% if app.user %}
        <a type="button" class="btn" href="{{ path('logout') }}">Logout</a>
{% else %}
 <a type="button" class="btn" href="{{ path('login') }}">Login</a>
  {% endif %}

        <a type="button" class="btn" href="/register">Register</a>

    </div>

   
    <div class="nav">

        <a type="button" class="btn" href="/agents">Agents</a>
        <a type="button" class="btn" href="/cibles">Cibles</a>
        <a type="button" class="btn" href="/contacts">Contacts</a>
        <a type="button" class="btn" href="/missions">Missions</a>
        <a type="button" class="btn" href="/nomdecode">Nom De Code</a>
        <a type="button" class="btn" href="/pays">Pays</a>
        <a type="button" class="btn" href="/planques">Planques</a>
        <a type="button" class="btn" href="/specialites">Specialites</a>
        <a type="button" class="btn" href="/status">Status</a>
        <a type="button" class="btn" href="/typedemissions">Type De Missions</a>
        <a type="button" class="btn" href="/typedeplanques">Type De Planques</a>
        
    </div>
    {% block content %}{% endblock %}
{% endblock %}