{% extends 'base.html.twig' %}

{% block title %}NomDeCode index{% endblock %}

{% block body %}
    <h1>NomDeCode index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nom_de_code in nom_de_codes %}
            <tr>
                <td>{{ nom_de_code.id }}</td>
                <td>{{ nom_de_code.code }}</td>
                <td>
                    <a href="{{ path('nom_de_code_show', {'id': nom_de_code.id}) }}">show</a>
                    <a href="{{ path('nom_de_code_edit', {'id': nom_de_code.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('nom_de_code_new') }}">Create new</a>
{% endblock %}
