{% extends 'base.html.twig' %}

{% block title %}Pays index{% endblock %}

{% block body %}
    <h1>Pays index</h1><a type="button" class="btn" href="/">Accueil</a>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Voir/Modifier</th>
            </tr>
        </thead>
        <tbody>
        {% set item = 0 %}
        {% for pay in pays %}
            {% if item  < 10 %}
                <tr class="{{ item }}">
                    <td>{{ pay.nom }}</td>
                    <td>
                        <a type="button" class="btn" href="{{ path('pays_show', {'id': pay.id}) }}">show</a>
                        <a type="button" class="btn" href="{{ path('pays_edit', {'id': pay.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr class="visually-hidden">
                    <td>{{ item }}  {{pay.nom }}</td>
                    <td>
                        <a type="button" class="btn" href="{{ path('pays_show', {'id': pay.id}) }}">show</a>
                        <a type="button" class="btn" href="{{ path('pays_edit', {'id': pay.id}) }}">edit</a>
                    </td>
                </tr>
            {% endif %}
            {% set item = item + 1 %}
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        
        </tbody>
    </table>
     {% if pageCount  is defined and pageCount  > 1 %}
        {% for i in 1..pageCount %}
            <a type="button" class="btn paging" href="/pays/list/{{ i }}">{{ i }}</a>
         {% endfor %}
         {% endif %}
         <br>
    <a type="button" class="btn" href="{{ path('pays_new') }}">Create new</a>
{% endblock %}
